*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary-color: #0065FC;
    --tertiary-color: #DEEBFF;
    --secondary-color: #F2F2F2;
    --box-shadow: -1px 2px 13px 5px rgba(94, 91, 91, 0.47);

}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

/********************************** Navigation ******************************************/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none; 
    padding: 2rem;
    border-top: 3px solid transparent; 
}

.header__menu__item__bold {
    color:var(--primary-color);
    font-weight: bold;
}

nav a:hover{
    border-top: 3px var(--primary-color) solid;
    color:var(--primary-color);
}


/**********************************Header *****************************************/
.header__logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 2em;
    
}
header {
    display: flex;
}

h1 {
    font-size: 1.4rem;
}

/*****************************Media Header and nav*******************************/

@media (max-width: 605px) {

    h1 {
        margin-top:2rem;
    }

    nav {
        flex-wrap: wrap-reverse;
    }
    nav a {
        border-bottom: 3px solid transparent;  
        border-top: none;
        flex-basis: 50%;
        text-align: center;
    }

    nav a:hover {
        border-bottom: 3px var(--primary-color) solid;
        border-top: none;
    }
    
    .header__menu__item{
        display: flex;
        flex-basis: 100%;
        border-bottom: 3px var(--secondary-color) solid;
        
    }
    
    .header__menu__item a:hover{
        margin-bottom: -3px;
    }

    .header__logo{
        float: left;
        position: absolute;
        padding-top: 1.1em;    
        margin-left: 2em;
    }

    header {
        display: block;
    }

}

/************************************Search****************************************/

main {
    padding: 0 2rem;
    font-family: 'Raleway', sans-serif;
}

.main__search {
    display: flex;

}

.main__describe {
    line-height: 2rem;
    margin-bottom: 0.8rem;
}

#main__search__icone{
    background: var(--secondary-color);
    padding: 1rem 1.3rem;
    border-radius: 0.8rem 0 0 0.8rem;
}

input {
    border: 0.1rem var(--secondary-color) solid;
    font-weight: bold;
    width: 10rem;
    padding: 1rem;
}

input:focus{
    outline: 0.03rem var(--tertiary-color) solid;
    box-shadow: 0rem 0rem 0.2rem rgba(66,66,66,.82);
}

.main__search__btn {
    padding: 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
}

.main__search__btn:hover {
    background: linear-gradient(to bottom, var(--primary-color) 5%, #183664 100%);
}

.main__search__btn:active {
    position:relative;
	bottom: 0.1rem;
}

.main__search__btn__mobile {
    display: none;
}

.main__search__btn__desktop {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

}

/*****************************************************Media search*************************************************/

@media (max-width: 605px) {
    input {
        width: 100%;
    }
}

@media (max-width: 415px) {

    .main__search__btn {
    font-size: 0.8rem;
    padding: 1rem;  
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    left: -0.5rem;
    position: relative;
}

    .main__search__btn__mobile{
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
    }

    .main__search__btn__desktop {
        display: none;
    }

}

/************************************Filter**********************************/


.main__filter{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.main__filter__list{
    display: inline-flex;
    flex-flow: wrap;
}

.main__filter__items{
    list-style: none;
    /* margin-right: 1rem; */
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border: 0.2rem var(--secondary-color) solid;
    padding: 0 0.8rem 0 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
    display: flex; 
    align-items: center;
}

.main__filter__items__icone{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1rem;
    position: relative;
}

.main__filter__items:hover {
    background-color:var(--primary-color);
    color:#fff;
}

/************************************************média filter*****************************************/
@media (max-width: 983px) {

.main__filter{
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
}

.main__filter__list {
    margin-left: -1rem;
}

.main__filter__items {
    margin-right: -0.5rem; 
}

.main__filter__title {
    margin-bottom: 0.8rem;
}
}


/********************************Info************************************/
.main__info {
    display: flex;
    align-items: center;   
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#main__info__icone{
    color: var(--primary-color);
    border: 0.1rem var(--secondary-color) solid;
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************Section 1***************************************/
/***********************************************************************/

/*******************************Hébergement*****************************/
.main__section__one{
    display: flex;
}

.main__section__title{
    padding-left: 2rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.main__section__hebergements{
    background-color: var(--secondary-color);
    flex: 2;
    height: 45rem;
    margin-right: 2rem;
    border-radius: 1rem;
    padding-top: 1rem;
}

.main__section__column__one{
    display: flex;
    margin-bottom: 4rem;
    height: 15rem;
    justify-content: space-around;
}

.main__section__column__two{
    display: flex;
    height: 15rem;
    justify-content: space-around;
}

.section__card__hebergement{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 0.1rem white solid ;
    background-color: #fff;
    border-radius: 1rem; 
    box-shadow: var(--box-shadow);
}

.section__card__hebergement:hover {
    transform: scale(1.1);
    transition: transform ease-in.2s;
}

.hebergement__picture{
    height:9.5rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.hebergement__showmore{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 3rem 0 0 3rem; 
}

.section__card__content{
    line-height: 1.8rem; 
    padding-left: 1rem;
}

.main__section__price {
    font-weight: bold;
}

.star__blue {
    color: var(--primary-color);
}

.star__grey {
    color: rgb(207, 202, 202);
}

/*********************************** Populaire *************************************************/

.main__section__populaire{
    background-color: var(--secondary-color);
    flex: 1;
    height: 45rem;
    border-radius: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

.main__section__populaire__title{
    display: inline-flex;
    width: 100%;
    justify-content:space-around;
}

.populaire__picture{
    height: 9rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.section__card__populaire{
    width: 75%;
    display: flex;
    border: 0.1rem white solid ;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.section__card__populaire:hover{
    transform: scale(1.1);
    transition: transform ease-in.2s;
}

/*********************************média section one*********************/


@media (max-width: 1080px) {
    .section__card__content{
        padding-left: 1rem;
        text-align: start;
    }

    .main__section__one{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    } 

    .main__section__column__one {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        margin-bottom: auto;
    
    }

    .main__section__column__two {
        
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    
    .section__card__hebergement {
        width: auto;
        flex-basis: 100%;
        margin-bottom: 1rem;
        
    }

    .main__section__hebergements {
        width: auto;
        margin-right: -0.2rem;
        background-color: #fff;
        
    }

    .main__section__populaire{
        margin-left: 0.2rem;
        
    }

    .section__card__populaire{
        width: 60%;
        margin-top: 2rem;
    }

    .populaire__picture{
        height: 10rem;
        width: 10rem;

    }
}

@media (min-width: 1080px) and (max-width: 1370px) {
    
    .section__card__content{
        line-height: 1.2rem; 
        padding-left: 0.6rem;
    }
    
    .section__card__populaire{
        width:auto;
    }
}

@media  (min-width: 200px) and (max-width: 750px) {

    .section__card__content{
        line-height: 1.2rem; 
        padding-left: 0.6rem;
        flex: 1;
    }

    .section__card__populaire{
        width: 100%;
        margin-top: 2rem;
    }

    .main__section__populaire{
        margin: 0 -2rem;
        border-radius: 0rem;
        padding: 1rem;
    }
    .main__section__title{
        text-align: start;
        padding-left: initial;
    }

    .populaire__picture{
        height: 10rem;
        width: 9rem;
    }

    .hebergement__picture{
        height: 7rem;
    }

    .main__section__hebergements{
        margin: 0 -1rem;
    }

    .hebergement__showmore{
        text-align: start;
        padding: 0 ;
    }
}

/*********************************************** section 2 *****************************/
/*****************************************************************************************/

#Activités {
    padding-left: 2rem;
    margin-top: 3.5em;
    margin-bottom: 1rem;
}

.activités__picture__title{
    padding: 1rem;
    font-weight: 800;
}

.main__section__activités{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.section__activités{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.section__activités__xl { 
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem white solid ;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.activités__picture__xl{
    height: 35rem;
    width: auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.section__activités__m {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem white solid ;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.activités__picture__m{
    max-height: 15rem;
    width: auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.section__activités__bloc__m{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.section__activités__m:hover {
    transform: scale(1.1);
    transition: transform ease-in.2s;
}

.section__activités__xl:hover {
    transform: scale(1.1);
    transition: transform ease-in.2s;
}

/***************************** média section two *************************************/

@media (min-width: 1080px) and (max-width: 1620px) {

    .activités__picture__title {
        font-size: 0.9rem;
    }

    .activités__picture__m{
        height: 10rem;
        max-width: 100%;
    }
    
    .activités__picture__xl{
        height: 25rem;
        max-width: 15rem;
    }
}

@media (max-width: 1080px) {
    .section__activités {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-basis: 100%;

    }

    .activités__picture__m{
        height: 8rem;
    }
    
    .activités__picture__xl{
        height: 8rem;
    }

    .section__activités__m { 
        height: 10rem;
        max-width: 100%;
        margin-bottom: 2rem;
        border-radius: 1rem;
        
    }

    .section__activités__xl {
        max-width: 100%;
        height: 10rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
    }

    .main__section__activités{
        display: flex;
        margin-bottom: 1rem;
        justify-content: center;
        margin-left: -2rem;
        margin-right: -2rem;
    }
    
    .activités__picture__title{
        padding-top: 0.4rem;
    }

    #Activités {
        margin-top: 2rem;
    }
}

/* footer */

.footer {
    background-color: var(--secondary-color);
    margin-top: 2rem;
    padding: 2rem 0 0 4rem;
    display: flex;
}

.footer__bloc {
    margin-right: 15%;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.footer__bloc__text {
    margin-bottom: 0.6rem;

}

/* média footer */

@media (min-width: 650px) and (max-width: 1080px){
    .footer {
        width: 100%;
    }

    .footer__bloc{
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-right: 10%;
    }
}

@media (max-width: 650px){
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
    }

    .footer__bloc {
        padding-right: 1rem;
    }

}
