*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --couleur-bleu: #0065FC;
    --couleur-bleu-clair: #DEEBFF;
    --couleur-gris: #F2F2F2;

}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

/* Navigation */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none; 
    padding: 2rem;
    border-top: 3px solid transparent; 
}

.header__menu__item__bold {
    color:var(--couleur-bleu);
    font-weight: bold;
}

nav a:hover{
    border-top: 3px var(--couleur-bleu) solid;
    color:var(--couleur-bleu);
}


/* Header */
.header__logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 2em;
    
}
header {
    display: flex;
}

/*Media Header and nav*/

@media (max-width: 605px) {
    nav {
        flex-wrap: wrap-reverse;
    }
    nav a {
        border-bottom: 3px solid transparent;  
        border-top: none;
        flex-basis: 50%;
        text-align: center;
    }

    nav a:hover {
        border-bottom: 3px var(--couleur-bleu) solid;
        border-top: none;
    }
    
    .header__menu__item{
        display: flex;
        flex-basis: 100%;
        border-bottom: 3px var(--couleur-gris) solid;
        
    }
    
    .header__menu__item a:hover{
        margin-bottom: -3px;
    }

    .header__logo{
        float: left;
        position: absolute;
        padding-top: 1.1em;    
        margin-left: 2em;
    }

    header {
        display: block;
    }

}

/*Search*/

main {
    padding: 0 2rem;
    font-family: 'Raleway', sans-serif;
}

.main__search {
    display: flex;
}

.main__describe {
    line-height: 2rem;
}

#main__search__icone{
    background: var(--couleur-gris);
    padding: 1rem 1.3rem;
    border-radius: 0.8rem 0 0 0.8rem;
}

input {
    border: 0.1rem var(--couleur-gris) solid;
    font-weight: bold;
    width: 10rem;
    padding: 1rem;
}

input:focus{
    outline: 0.03rem var(--couleur-bleu-clair) solid;
    box-shadow: 0rem 0rem 0.2rem rgba(66,66,66,.82);
}

.main__search__btn {
    padding: 1rem;
    background-color: var(--couleur-bleu);
    border: none;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
}

.main__search__btn:hover {
    background: linear-gradient(to bottom, var(--couleur-bleu) 5%, #183664 100%);
}

.main__search__btn:active {
    position:relative;
	bottom: 0.1rem;
}

.main__search__btn__mobile {
    display: none;
}

.main__search__btn__desktop {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

}

/*Media search*/

@media (max-width: 605px) {
    input {
        width: 100%;
    }
}

@media (max-width: 415px) {

    .main__search__btn {
    font-size: 0.8rem;
    padding: 1rem;  
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    left: -0.5rem;
    position: relative;
}

    .main__search__btn__mobile{
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
    }

    .main__search__btn__desktop {
        display: none;
    }

}

/*Filter*/


.main__filter{
    display: flex;
    align-items: center;
}

.main__filter__list{
    display: inline-flex;
    flex-flow: wrap;
}

.main__filter__items{
    list-style: none;
    /* margin-right: 1rem; */
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border: 0.2rem var(--couleur-gris) solid;
    padding: 0 0.8rem 0 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
    display: flex; 
    align-items: center;
}

#main__filter__items__icone{
    color: var(--couleur-bleu);
    background-color: var(--couleur-bleu-clair);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1rem;
    position: relative;
}

.main__filter__items:hover {
    background-color:var(--couleur-bleu);
    color:#fff;
}

/*média filter*/
@media (max-width: 983px) {

.main__filter{
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
}

.main__filter__list {
    margin-left: -1rem;
}

.main__filter__items {
    margin-right: -0.5rem; 
}

.main__filter__title {
    margin-bottom: 0.8rem;
}
}


/*Info*/
.main__info {
    display: flex;
    align-items: center;   
}

#main__info__icone{
    color: var(--couleur-bleu);
    border: 0.1rem var(--couleur-gris) solid;
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Section 1*/
/*Hébergement*/


